
.rating{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 8px;
  border-radius: 4px;

  &--low{
    background-color: var(--vkui--color_icon_negative);
    color: var(--vkui--color_text_contrast);
  }
  &--mid{
    background-color: var(--vkui--color_icon_warning);
  }
  &--high{
    background-color: var(--vkui--color_icon_positive);
    color: var(--vkui--color_text_contrast);
  }

}