.card{
  cursor: pointer;
}

img{
  border-radius: 4px;
}

.content{
  padding: 1vw;
  display: flex;
  flex-direction: column;
  gap: 1vw;

  &__info{
    display: flex;
      align-items: center;
      gap: 1vw;
  }
}


