.card{
  cursor: pointer;
  height: 400px;
  width: 218px;
}

img{
  border-radius: 4px;
}

.content{
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;

  &__info{
    display: flex;
      align-items: center;
      gap: 1vw;
  }
}


